
*.aps
*.autosave
*.bak
*.dll
*.err
*.exe
*.exp
*.htm
*.html
*.idb
*.ipch
*.lastbuildstate
*.lib
*.lnk
*.log
*.manifest
*.o
*.obj
*.opensdf
*.ncb
*.pch
*.pdb
*.res
*.sdf
*.so
*.so.*
*.suo
*.tlog
*.user
*.user.*
*.vars
*.vcxproj.user
*~

*Log.txt
gitinfo.json
build/*
build-*/*
Debug
doc/html/*
ipch
Release
cmake-build-debug
.idea
test_package/build
test_package/build/*

